@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --bg-color-neutral:rgba(255, 255, 255, 0.8);
    --bg-color-light:#f7f7f7;
    --bg-color-dark:#333333;
    --bg-color-green:#55c57a;
    --text-white: #ffffff;
    --shadow-dark:rgba(0, 0, 0, 0.1);
    --shadow-mid:rgba(0, 0, 0, 0.2);
    --shadow-black:rgba(0, 0, 0, 0.5);
    --shadow-gray:rgba(0, 0, 0, 0.15);
    --light-green:#55c57a;
    --yellow-green: #7ed56f;
    --dark-green:#28b485;
    --text-gray: #777777;
    --text-black:#000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Now", sans-serif;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    background-color: var(--bg-color-light);
}

/* header styles */
.header{
    height: 91vh;
    width: 96vw;
    padding-top: 30px;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(https://natour.netlify.app/img/hero.jpg);
    clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
}

.header__text-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    padding-top: 50px;
}
.header__text-container__title{ 
    font-weight: 500;
    font-size: 58px;
    color: var(--text-white);
    letter-spacing: 40px;
    animation: moveToRight 1s ease-in-out;
}

.header__text-container__subtitle{
    font-weight: 500;
    font-size: 18px;
    color: var(--text-white);
    letter-spacing: 20px;
    text-transform: uppercase;
    margin-top: -20px;
    animation: moveToLeft 0.5s ease-out;
}

.header__logo{
    width: 60px;
    margin-left: 30px;
}

/* navigation styles */

.navigation{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100%;
    z-index: 1000;
}

.navigation__checkbox{
    display: none;
}

.navigation__icon{
    position:relative;
    margin-top: 30px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: var(--bg-color-dark);
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.navigation__icon::before{
    top: -1rem;
}

.navigation__icon::after{
    top: 1rem;
}

/* hamburger menu effect */
.navigation__background{
    background-image: radial-gradient(var(--yellow-green), var(--dark-green));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: 70px;
    right: 70px;
}

/* hamburger button */
.navigation__button{
    background-color: var(--text-white);;
    color: var(--text-black);
    height: 60px;
    width: 62px;
    position: fixed;
    border-radius: 50%;
    z-index: 2000;
    top: 50px;
    right: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1rem 3rem var(--shadow-dark);
}

.navigation__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 30px;
    left:30px;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.navigation__list{
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__item{
    margin: 1rem;
}

.navigation__link{
display: inline-block;
font-size: 30px;
font-weight:300;
padding: 10px 20px;
color: var(--text-white);;
text-decoration: none;
text-transform: uppercase;
background-image: linear-gradient(120deg, transparent 0%,transparent 50%,var(--text-white) 50%);
background-size: 220%;
transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: var(--light-green);;
    transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(120);
}

.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon{
    background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    top: 0rem;
    transform: rotate(135deg);
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 0rem;
    transform: rotate(-135deg);
}

/* button */

.header__button {
    text-transform: uppercase;
    text-decoration: none;
    padding:20px 15px;
    width: 250px;
    border-radius: 30px;
    margin-top: 70px;
    display: inline-block;
    border-radius: 30px;
    transition: all 0.2s;
    position: relative;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header__button--white {
    background-color: var(--text-white);;
    color: var(--text-gray);
}

.header__button--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

.header__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem var(--shadow-mid);
}

.header__button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.header__button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.header__button--white::after {
    background-color: var(--text-white);;
}

/* about section styles */

.about{
    background-color: var(--bg-color-light);
    margin-top: 15vh;
    padding: 20px;
    height: 100vh;
    margin-left: 15vw;
}

.about__heading{
    margin-bottom: 20px;
    margin-left: -10vw;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--yellow-green),var(--dark-green));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;
    text-align: center;
}

.about__heading:hover{
    transform: rotate(3deg) skew(25deg);
}

.about__btn{
    color:  var(--light-green);;
    text-decoration: none;
    border-bottom: 1px solid var(--light-green);;
    padding: 3px;
    transition: all .2s;
    margin-bottom: 100px;
    margin-top: 50px;
}

.row--text>.about__btn:hover{
    background-color: var(--bg-color-green);
    color: var(--text-white);;
    transform: translateY(5%);
    box-shadow: 5px 5px 15px var(--shadow-mid);
}

.row{
    display: flex;
    padding: 0 100px;
    margin-top:80px;
}

.row--text{
    color: var(--text-gray);
    width: 35vw;
    margin-left: -10vw;
}

.row--text>.row__text__sub-heading{
    text-transform: uppercase;
    margin: 30px 0;
    font-size: 14px;
    font-weight:bolder;
}

.row__text__paragraph{
    font-weight: 400;
    margin-bottom: 30px;
}

/* aboout image */
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.composition{
    position: relative;
    display: flex;
    flex-direction: column;
}

.composition__photo{
    float: left;
    position: relative;
    box-shadow: 0 10px 15px var(--shadow-mid);
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    border-radius: 2px;
}

.composition__photo:hover{
    outline: 12px solid var(--light-green);;
    transform: scale(1.05) translateY(-0.5);
    box-shadow: 0 10px 32px var(--shadow-black);
    z-index: 20;
}

.composition__photo--p2{
    position: absolute;
    margin-left: 20vw;
    margin-top: 5vh;
    width: 260px;
}

.composition__photo--p1{
    margin-left: 5vw;
    width: 260px;
}

.composition__photo--p3{
    width: 260px;
    margin-left: 10vw;
    margin-top: -8vh;
}

.composition__photo--p1:hover{
    top: 0;
    left: 0;
    z-index: 20;
}
.composition__photo--p2:hover{
    top: 0;
    left: -1rem;
    z-index: 20;
}

.composition__photo--p3:hover{
    top: 1rem;
    left: 0;
    z-index: 30;
}


/* explore section */

.explore{
    height: 100vh;
    width: 96vw;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(https://natour.netlify.app/img/nat-4.jpg);
    clip-path: polygon(0 14%, 100% 0, 100% 85%, 0% 100%);
    padding: 0;
    margin-top: -30vh;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
}

.card{
    background-color: var(--bg-color-neutral);
    width: 200px;
    height: 250px;
    margin: 10px;
    text-align: center;
    padding-top: 50px;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem var(--shadow-gray);
    padding-left: 15px;
    padding-right: 15px;
    transition: all .2s;
}

.card:hover{
    transform: translateY(-3vh);
}

.card>.icon{
    width: 60px;
    height: 60px;
}
.card > .card__heading{
    text-transform: uppercase;
    font-weight: bold;
}
.card>p,.card>h4{
    color: var(--text-gray);
}

.text--bold{
    font-weight:bold
}
/* header animations */

@keyframes moveToTop {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes moveToRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(2%);
    }
}

@keyframes moveToLeft {
    from {
      transform: translateX(20%);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
